{
  "openapi": "3.0.0",
  "info": {
    "title": "MGN System Utilities API",
    "description": "API for managing agricultural controls, including login, entry, cancellation, receipt confirmation, and exit operations.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://utilities.mgnsystem.cloud/ag-control/v1"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "summary": "User login",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "arth.dks@gmail.com"
                  },
                  "senha": {
                    "type": "string",
                    "example": "Sou100%GREGRE!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/entrada": {
      "post": {
        "summary": "Register a new entry",
        "operationId": "entrada",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "destinatario": {
                      "type": "object",
                      "properties": {
                        "nome": {
                          "type": "string",
                          "example": "Supermercado Terra Nova"
                        },
                        "documento": {
                          "type": "string",
                          "example": "00.005.076/0001-00"
                        },
                        "tipo_parceiro": {
                          "type": "string",
                          "example": "CLIENTE"
                        },
                        "endereco": {
                          "type": "object",
                          "properties": {
                            "logradouro": {
                              "type": "string",
                              "example": "Rua Central"
                            },
                            "numero": {
                              "type": "string",
                              "example": "643"
                            },
                            "complemento": {
                              "type": "string",
                              "example": ""
                            },
                            "bairro": {
                              "type": "string",
                              "example": "Industrial"
                            },
                            "cep": {
                              "type": "string",
                              "example": "81369-822"
                            },
                            "cidade": {
                              "type": "string",
                              "example": "Maringá"
                            },
                            "uf": {
                              "type": "string",
                              "example": "PR"
                            },
                            "pais": {
                              "type": "string",
                              "example": "BRASIL"
                            },
                            "latitude": {
                              "type": "string",
                              "example": "-26.863327"
                            },
                            "longitude": {
                              "type": "string",
                              "example": "-51.084092"
                            }
                          }
                        },
                        "email": {
                          "type": "string",
                          "example": "unidade2@mercadoterranova.com.br"
                        }
                      }
                    },
                    "embarque": {
                      "type": "object",
                      "properties": {
                        "armazem_documento": {
                          "type": "string",
                          "example": "00163083000130"
                        },
                        "nf_entrada": {
                          "type": "string",
                          "example": "409554"
                        },
                        "data_emissao": {
                          "type": "string",
                          "format": "date",
                          "example": "2025-07-07"
                        },
                        "itens": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "codigo": {
                                "type": "string",
                                "example": "6003008007890"
                              },
                              "descricao": {
                                "type": "string",
                                "example": "MILHO HÍBRIDO SEMEADURA 20KG"
                              },
                              "unidade": {
                                "type": "string",
                                "example": "KG"
                              },
                              "quantidade": {
                                "type": "string",
                                "example": "1393"
                              },
                              "lote": {
                                "type": "string",
                                "example": "LT-0747"
                              },
                              "data_fabricacao": {
                                "type": "string",
                                "format": "date",
                                "example": "2025-06-07"
                              },
                              "data_vencimento": {
                                "type": "string",
                                "format": "date",
                                "example": "2025-06-07"
                              },
                              "valor_unitario": {
                                "type": "string",
                                "example": "160.0"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entry registered successfully"
          }
        }
      }
    },
    "/cancelamento": {
      "post": {
        "summary": "Cancel an entry",
        "operationId": "cancelamento",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nf_entrada": {
                    "type": "string",
                    "example": "445627"
                  },
                  "documento_destinatario": {
                    "type": "string",
                    "example": "33000111000177"
                  },
                  "observacao": {
                    "type": "string",
                    "example": "Cancelamento solicitado por divergência"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation successful"
          }
        }
      }
    },
    "/confirmar_recebimento": {
      "post": {
        "summary": "Confirm receipt of an entry",
        "operationId": "confirmarRecebimento",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "armazem_documento": {
                      "type": "string",
                      "example": "00163083000130"
                    },
                    "codigo": {
                      "type": "string",
                      "example": "5001007003456"
                    },
                    "lote": {
                      "type": "string",
                      "example": "LT-6286"
                    },
                    "nf_entrada": {
                      "type": "string",
                      "example": "266549"
                    },
                    "nf_ag": {
                      "type": "string",
                      "example": "8335"
                    },
                    "data_entrada": {
                      "type": "string",
                      "format": "date",
                      "example": "2025-07-24"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt confirmed successfully"
          }
        }
      }
    },
    "/saida": {
      "post": {
        "summary": "Register an exit",
        "operationId": "saida",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigo": {
                      "type": "string",
                      "example": "4001005001234"
                    },
                    "lote": {
                      "type": "string",
                      "example": "LT-1719"
                    },
                    "nf_ag": {
                      "type": "string",
                      "example": "8997"
                    },
                    "quantidade": {
                      "type": "number",
                      "example": 1000
                    },
                    "nf_saida": {
                      "type": "string",
                      "example": "5566380"
                    },
                    "data_saida": {
                      "type": "string",
                      "format": "date",
                      "example": "2025-07-25"
                    },
                    "armazem_documento": {
                      "type": "string",
                      "example": "00163083000130"
                    },
                    "obs": {
                      "type": "string",
                      "example": "Saída parcial para devoluçsão"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exit registered successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}